body {
    color: #eee;
    margin-top: 60px;
}

footer {
	color: #EEE
}

a:link {
    color:#CCC;
    text-decoration:none;
}
a:visited {
    color:#BBB;
    text-decoration:none;
}
a:hover {
    color:#AAA;
    text-decoration:underline;
}
a:active {
    color:#FFF;
    text-decoration:underline;
}

.alpha-black {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.8);
}