<!DOCTYPE html>
<html
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		layout:decorate="~{layout}" >

    <head>
        <title>Batalha Intergalática</title>
    </head>

    <body>
        <div layout:fragment="content">
            Admin Page
            <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
            Now is: <b th:text="${execInfo.now.time}"></b>
        </div>
    </body>

</html>