<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
     <title>Access-Denied</title>
	<meta charset="UTF-8" />

      
</head>

<body>

	<h3>Access Denied Exception</h3>

	<div>

		Logged in user: <b th:inline="text" sec:authentication="principal.username"></b>
		<br />
		Roles: <b th:inline="text" sec:authentication="principal.roles"></b>

		<form
			th:action="@{/logout}" method="POST">

			 <input type="submit" value="Log Out"/>

		</form>

	</div>

<p class="error" th:text="${errorMsg}">Error</p>
   
</body>

</html> 