<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
<head>
	<meta charset="UTF-8" />
	<title>Welcome to Battleship!</title>
	
</head>

<body>

	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	Now is: <b th:text="${execInfo.now.time}"></b>
	
	<div sec:authorize="hasRole('ROLE_ADMIN')">
	  This content is only shown to administrators.
	  <a th:href="@{/admin}" href="/admin">admin page</a>
	</div>
	
	<br>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>

</body>
</html>